<a href="https://colab.research.google.com/github/CMccormick0003/deep-learning-challenge/blob/main/AlphabetSoupCharity_optimized_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [123]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
print(application_df.shape)
print(application_df.columns)
application_df.head()

(34299, 12)
Index(['EIN', 'NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

## Preprocessing

In [124]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN', 'NAME', 'SPECIAL_CONSIDERATIONS'], inplace=True)

In [125]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()
print(unique_counts)

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
STATUS                 2
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [126]:
# Look at APPLICATION_TYPE value counts for binning
print(application_df['APPLICATION_TYPE'].value_counts())

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [127]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
app_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = list(app_type_counts[app_type_counts < 51].index)
print(application_types_to_replace)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

['T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       54
Name: APPLICATION_TYPE, dtype: int64

In [128]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [129]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_greater_than_one = classification_counts[classification_counts > 1]
print(classification_counts_greater_than_one)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [130]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 10].index)
print(classifications_to_replace)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

['C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Other       98
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
Name: CLASSIFICATION, dtype: int64

In [131]:
# Look at ASK_AMT value counts for binning
ask_amt_counts = application_df['ASK_AMT'].value_counts()
print(ask_amt_counts)

5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [132]:
# You may find it helpful to look at ASK_AMT value counts >2
ask_amt_counts = application_df['ASK_AMT'].value_counts()
ask_amt_counts_greater_than_two = ask_amt_counts[ask_amt_counts > 2]
print(ask_amt_counts_greater_than_two)

# the most common loan ask amount is $5000

5000     25398
10478        3
15583        3
63981        3
6725         3
Name: ASK_AMT, dtype: int64

In [133]:
application_df = application_df[application_df['ASK_AMT'] == 5000]
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()
print(unique_counts)

APPLICATION_TYPE    11
AFFILIATION          6
CLASSIFICATION      30
USE_CASE             5
ORGANIZATION         4
STATUS               2
INCOME_AMT           9
ASK_AMT              1
IS_SUCCESSFUL        2
dtype: int64

In [134]:
# Convert categorical data to numeric with `pd.get_dummies`
# create a list of columns to encode
cat_cols = ['APPLICATION_TYPE', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'AFFILIATION']

# use pd.get_dummies to encode categorical variables
encoded_df = pd.get_dummies(application_df, columns=cat_cols)
encoded_df.shape

(25398, 68)

In [135]:
# Split our preprocessed data into our features and target arrays
X = encoded_df.drop("IS_SUCCESSFUL", axis=1).values
y = encoded_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [136]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

print (X_train_scaled.shape)

(19048, 67)

## Compile, Train and Evaluate the Model

In [137]:
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = Sequential()

# First hidden layer
nn.add(Dense(units=80, activation='relu', input_dim=len(X_train_scaled[0])))

# Add 6 additional hidden layers
for i in range(6):
    nn.add(Dense(units=50, activation='relu'))

# Last hidden layer
nn.add(Dense(units=30, activation='relu'))

# Output layer
nn.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_73 (Dense)            (None, 80)                5440

 dense_74 (Dense)            (None, 50)                4050

 dense_75 (Dense)            (None, 50)                2550

 dense_76 (Dense)            (None, 50)                2550

 dense_77 (Dense)            (None, 50)                2550

 dense_78 (Dense)            (None, 50)                2550

 dense_79 (Dense)            (None, 50)                2550

 dense_80 (Dense)            (None, 30)                1530

 dense_81 (Dense)            (None, 1)                 31

=================================================================
Total params: 23,801
Trainable params: 23,801
Non-trainable params: 0
_________________________________________________________________

In [138]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [139]:
# Train the model
from tensorflow.keras.optimizers import SGD

sgd = SGD(learning_rate=0.1)

nn.compile(loss='binary_crossentropy', optimizer=sgd, metrics=['accuracy'])


# Define the checkpoint path and filename
checkpoint_path = "model_weights/checkpoint_weights.{epoch:02d}.h5"

# Create a callback that saves the model's weights every five epochs
checkpoint_callback = tf.keras.callbacks.ModelCheckpoint(
    filepath=checkpoint_path,
    save_weights_only=True,
    save_freq=5 * len(X_train_scaled),
    verbose=1)

# Train the model with checkpoint callback
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[checkpoint_callback])

Epoch 1/100
596/596 [==============================] - 2s 2ms/step - loss: 0.5685 - accuracy: 0.7210
Epoch 2/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7473
Epoch 3/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5297 - accuracy: 0.7486
Epoch 4/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5272 - accuracy: 0.7487
Epoch 5/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5266 - accuracy: 0.7497
Epoch 6/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5246 - accuracy: 0.7496
Epoch 7/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5232 - accuracy: 0.7513
Epoch 8/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5236 - accuracy: 0.7499
Epoch 9/100
596/596 [==============================] - 1s 2ms/step - loss: 0.5224 - accuracy: 0.7508
Epoch 10/100
596/596 [==============================] - 1s 2ms/step - loss: 0.5221 - accuracy: 0.7530
Epoch 11/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5213 - accuracy: 0.7535
Epoch 12/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5207 - accuracy: 0.7515
Epoch 13/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5208 - accuracy: 0.7510
Epoch 14/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5209 - accuracy: 0.7516
Epoch 15/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5196 - accuracy: 0.7533
Epoch 16/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5204 - accuracy: 0.7503
Epoch 17/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5202 - accuracy: 0.7512
Epoch 18/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5197 - accuracy: 0.7520
Epoch 19/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5196 - accuracy: 0.7527
Epoch 20/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5191 - accuracy: 0.7527
Epoch 21/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5193 - accuracy: 0.7537
Epoch 22/100
596/596 [==============================] - 1s 2ms/step - loss: 0.5190 - accuracy: 0.7530
Epoch 23/100
596/596 [==============================] - 1s 2ms/step - loss: 0.5189 - accuracy: 0.7524
Epoch 24/100
596/596 [==============================] - 1s 2ms/step - loss: 0.5191 - accuracy: 0.7527
Epoch 25/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5187 - accuracy: 0.7528
Epoch 26/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5181 - accuracy: 0.7528
Epoch 27/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5179 - accuracy: 0.7529
Epoch 28/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5181 - accuracy: 0.7517
Epoch 29/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5176 - accuracy: 0.7519
Epoch 30/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5179 - accuracy: 0.7528
Epoch 31/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5180 - accuracy: 0.7518
Epoch 32/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5178 - accuracy: 0.7527
Epoch 33/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5176 - accuracy: 0.7538
Epoch 34/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5169 - accuracy: 0.7512
Epoch 35/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5174 - accuracy: 0.7515
Epoch 36/100
596/596 [==============================] - 1s 2ms/step - loss: 0.5167 - accuracy: 0.7547
Epoch 37/100
596/596 [==============================] - 1s 2ms/step - loss: 0.5175 - accuracy: 0.7529
Epoch 38/100
596/596 [==============================] - 1s 2ms/step - loss: 0.5173 - accuracy: 0.7533
Epoch 39/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5170 - accuracy: 0.7539
Epoch 40/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5173 - accuracy: 0.7523
Epoch 41/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5166 - accuracy: 0.7537
Epoch 42/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5161 - accuracy: 0.7542
Epoch 43/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5165 - accuracy: 0.7539
Epoch 44/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5164 - accuracy: 0.7533
Epoch 45/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5161 - accuracy: 0.7536
Epoch 46/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5158 - accuracy: 0.7543
Epoch 47/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5164 - accuracy: 0.7530
Epoch 48/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5158 - accuracy: 0.7543
Epoch 49/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5155 - accuracy: 0.7540
Epoch 50/100
596/596 [==============================] - 1s 2ms/step - loss: 0.5161 - accuracy: 0.7543
Epoch 51/100
596/596 [==============================] - 1s 2ms/step - loss: 0.5159 - accuracy: 0.7549
Epoch 52/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5152 - accuracy: 0.7541
Epoch 53/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5150 - accuracy: 0.7547
Epoch 54/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5152 - accuracy: 0.7549
Epoch 55/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5151 - accuracy: 0.7546
Epoch 56/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5147 - accuracy: 0.7539
Epoch 57/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5154 - accuracy: 0.7538
Epoch 58/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5148 - accuracy: 0.7546
Epoch 59/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5146 - accuracy: 0.7533
Epoch 60/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5149 - accuracy: 0.7546
Epoch 61/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5147 - accuracy: 0.7520
Epoch 62/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5146 - accuracy: 0.7544
Epoch 63/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5145 - accuracy: 0.7551
Epoch 64/100
596/596 [==============================] - 1s 2ms/step - loss: 0.5149 - accuracy: 0.7548
Epoch 65/100
596/596 [==============================] - 1s 2ms/step - loss: 0.5147 - accuracy: 0.7544
Epoch 66/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5141 - accuracy: 0.7538
Epoch 67/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5157 - accuracy: 0.7533
Epoch 68/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5148 - accuracy: 0.7548
Epoch 69/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5154 - accuracy: 0.7543
Epoch 70/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5146 - accuracy: 0.7536
Epoch 71/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5146 - accuracy: 0.7536
Epoch 72/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5147 - accuracy: 0.7524
Epoch 73/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5143 - accuracy: 0.7538
Epoch 74/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5148 - accuracy: 0.7528
Epoch 75/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5144 - accuracy: 0.7545
Epoch 76/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5146 - accuracy: 0.7528
Epoch 77/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5141 - accuracy: 0.7548
Epoch 78/100
596/596 [==============================] - 1s 2ms/step - loss: 0.5143 - accuracy: 0.7541
Epoch 79/100
596/596 [==============================] - 1s 2ms/step - loss: 0.5142 - accuracy: 0.7543
Epoch 80/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5145 - accuracy: 0.7538
Epoch 81/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5140 - accuracy: 0.7547
Epoch 82/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5140 - accuracy: 0.7540
Epoch 83/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5139 - accuracy: 0.7543
Epoch 84/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5138 - accuracy: 0.7538
Epoch 85/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5134 - accuracy: 0.7538
Epoch 86/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5135 - accuracy: 0.7548
Epoch 87/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5139 - accuracy: 0.7543
Epoch 88/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5136 - accuracy: 0.7554
Epoch 89/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5136 - accuracy: 0.7551
Epoch 90/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5133 - accuracy: 0.7525
Epoch 91/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5138 - accuracy: 0.7555
Epoch 92/100
596/596 [==============================] - 1s 2ms/step - loss: 0.5134 - accuracy: 0.7545
Epoch 93/100
596/596 [==============================] - 1s 2ms/step - loss: 0.5137 - accuracy: 0.7541
Epoch 94/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5138 - accuracy: 0.7544
Epoch 95/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5128 - accuracy: 0.7523
Epoch 96/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5136 - accuracy: 0.7552
Epoch 97/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5133 - accuracy: 0.7541
Epoch 98/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5132 - accuracy: 0.7541
Epoch 99/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5133 - accuracy: 0.7542
Epoch 100/100
596/596 [==============================] - 1s 1ms/step - loss: 0.5132 - accuracy: 0.7559

In [140]:
# Evaluate the model using the test data
evaluation = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {evaluation[0]}, Accuracy: {evaluation[1]}")

199/199 - 0s - loss: 0.5392 - accuracy: 0.7479 - 316ms/epoch - 2ms/step
Loss: 0.539186418056488, Accuracy: 0.7478740215301514

In [141]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharityOptimised_7.h5")

In [142]:
# See the path of the current working directory
import os
print(os.getcwd())

/content